.address {
	color: var(--main-white);
	font-size: 14px;
	line-height: 1.7143;
	font-style: normal;
	letter-spacing: 0.03em;

	&__item {
		margin-bottom: 9px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
		padding-bottom: 60px;

		@media screen and (min-width: 1200px) {
			align-items: flex-start;
		}
	}
}

.address__link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.7143;
	letter-spacing: 0.03em;
	text-decoration: none;

	&--transition {
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:active,
	&:hover {
		color: var(--active-color);
		cursor: pointer;
	}
}
// .address {
// 	color: var(--main-white);
// 	font-size: 14px;
// 	line-height: 1.7143;
// 	font-style: normal;
// 	letter-spacing: 0.03em;

// 	&__item {
// 		margin-bottom: 9px;
// 	}

// 	&__list {
// 		display: flex;
// 		flex-direction: column;
// 		list-style: none;
// 		padding-bottom: 60px;
// 	}
// }

// .address__link {
// 	color: rgba(255, 255, 255, 0.6);
// 	font-size: 14px;
// 	line-height: 1.7143;
// 	letter-spacing: 0.03em;
// 	text-decoration: none;

// 	&--transition {
// 		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	}

// 	&:active,
// 	&:hover {
// 		color: var(--active-color);
// 		cursor: pointer;
// 	}
// }
