.big-header {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.1667;
	text-align: center;
	letter-spacing: 0.03em;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
