.feature {
	// margin-right: 30px;

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		height: 120px;
		width: 100%;
		background-color: var(--darker-white);
	}
	&__header {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.1428;
		letter-spacing: 0.03em;
		text-transform: uppercase;
	}

	&__paragraph {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 1.7143;
		letter-spacing: 0.03em;
		color: rgba(117, 117, 117, 1);
	}
}

@media screen and (min-width: 768px) {
	.feature {
		&__icon {
			max-width: 354px;
		}
		&__header {
			max-width: 354px;
		}

		&__paragraph {
			max-width: 354px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.feature {
		margin-right: 30px;
	}
}

// .feature {
// 	margin-right: 30px;

// 	&__icon {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		margin-bottom: 30px;
// 		height: 120px;
// 		width: 270px;
// 		background-color: var(--darker-white);
// 	}
// 	&__header {
// 		font-weight: bold;
// 		font-size: 14px;
// 		line-height: 1.1428;
// 		letter-spacing: 0.03em;
// 		text-transform: uppercase;
// 	}

// 	&__paragraph {
// 		font-size: 14px;
// 		line-height: 1.7143;
// 		letter-spacing: 0.03em;
// 		color: rgba(117, 117, 117, 1);
// 	}
// }
