.mobile {
	position: fixed;
	width: 100vh;
	height: 100vh;
	// background-color: blueviolet;
	&__menu {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding-top: 48px;
		padding-left: 40px;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.175;
		letter-spacing: 0.02em;
	}
	&__link {
		color: var(--main-black);
		text-decoration: none;
	}
}

.mobile__space {
	margin-bottom: 36px;
}
