.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-white);

	@media screen and (min-width: 480px) and (max-width: 1200px) {
		max-width: 100%;
	}
}
