.section {
	padding-top: 60px;
	padding-bottom: 60px;

	&--space {
		padding-bottom: 0;
		margin-right: 0;
	}

	&--dark {
		background-color: var(--darker-white);
	}
}

.section--display {
	@media screen and (max-width: 1200px) {
		display: none;
	}
}
// .section {
// 	padding-top: 94px;
// 	padding-bottom: 94px;

// 	&--space {
// 		padding-bottom: 0;
// 		margin-right: 0;
// 	}

// 	&--dark {
// 		background-color: var(--darker-white);
// 	}
// }
