:root {
	--main-black: rgba(33, 33, 33, 1);
	--active-color: rgba(33, 150, 243, 1);
	--main-white: rgba(255, 255, 255, 1);
	--main-grey: rgba(117, 117, 117, 1);
	--darker-white: rgba(245, 244, 250, 1);
}
